body {
    font-family: sans-serif;
    text-align:center;
    background-color: white;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


#container {
    text-align:center;
}

